body {
  font-family: Arial;
  background: #f6f8fc;
  text-align: center;
}
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 95%;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
}
th {
  background: #0077cc;
  color: white;
}
tr:nth-child(even) {
  background: #eef;
}
form input {
  margin: 4px;
  padding: 6px;
}
progress {
  width: 60%;
  height: 20px;
}
